@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');

*{
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin";
}


@media screen and (max-width: 425px){
    html{
        height: calc(100vh + 120px);
    }
    body{
        height: calc(100vh + 120px);
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #FEF9FF;
    }

    .header{
        background-color: #FFA203;
        padding: 18px;
    }

    .logo{
        margin-left: 3vw;
    }

    .logoAndProf{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .infoandprof{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .infoandprof .info img{
        background-color: white;
        border-radius: 50%;
        width: 8vw;
    }

    .logo img{
        width: 163px;
    }

    .prof{
        border-radius: 100%;
    }

    .prof img{
        width: 44px;
        border-radius: 100%;
        margin-right: 4vw;
        margin-left: 1vw;
    }
    .searchBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBar input{
        width: 300px;
        height: 34px;
        border-radius: 50px;
        padding: 0 30px;
    }

    .searchBar button{
        position: absolute;
        right: 45px;
        background: none;
        border: none;
    }

    .container{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container a{
        text-decoration: none;
        margin: 10px;
    }

    .container .sellerCardsSearch{
        display: flex;
        border: solid 1px #2B2A37;
        border-radius: 10px;
        height: 120px;
        width: 99%;
    }
    
    .sellerProfImg{
        width: 35%;
        border-radius: 10px 0 0 10px;
    }

    .sellerProfImg img{
        height: 100%;
        width: 100%;
    }

    .sellerProfileText{
        width: 70%;
        padding: 0 10px;
        position: relative;
    }

    .sellerProfileText > img{
        position: absolute;
        height: 15px;
        right: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 100%;
        background-color: #FEF9FF;
        box-shadow: 2px 2px 10px #2b2a3770;
    }

    .sellerProfileText > p{
        padding-top: 30px;
        font-weight: 600;
        font-size: 20px;
        color: #2B2A37;
        text-decoration: none;
    }

    .sellerProfileText .distance{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        color: #2b2a3796;
    }

    .navbar{
        position: fixed;
        width: -webkit-fill-available;
        bottom: 0;
        height: 50px;
        border-radius: 26px 26px 0 0;
        background-color: #2B2A37;
        padding: 0 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }

    .navBtn{
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .navBtn .homeBtn{
        width: 28;
        height: 28;
        fill: none; 
    }

    .navBtn .homeBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navBtn .searchBtn{
        width: 32; 
        height: 32;
        fill: none;
    }
    
    .navBtn .searchBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navbar .chatBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .chatBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    .navbar .profileBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .profileBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .navbar .homeBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .chatBtn:hover path:first-of-type{
        fill: #FEF9FF;
    }

    .navbar .searchBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .profileBtn:hover{
        fill: #FEF9FF;
    }
}
