@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');

@media screen and (max-width: 425px){
    body{
        margin: 0;
        padding: 0;
        font-family: 'Libre Franklin'; font-size: 14px;
        color: #272634;
    }
    
    .title{
        background-color: #FFA401;
        padding: 20px 0px;
        border-bottom: 1px solid #272634;
        /* border-top-left-radius: 30px;
        border-top-right-radius: 30px; */
    }
    .title p{
        margin: 0;
        font-size: 28px;
        font-weight: 900;
        text-align: center;
    }
    
    .chat-container{
        background-color: #FFA401;
        display: flex;
        justify-content: center;
        margin: 30px;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #272634;
    }
    .content{
        margin: auto;
        min-width: 250px;
        line-height: 0.5;
        font-size: 14px;
    }
    .name{
        font-weight: bold;
    }
    .time{
        float: right;
        font-size: 10px;
    }
    .chat-container img{
        border-radius: 50%;
        object-fit: cover;
        width: 60px;
        height: 60px;
        margin: auto;
    }

    a{
        text-decoration: none;
        color: #272634;
    }

    .chat-container:hover{
        background-color: #272634;
        color: #FFA401
    }

    .navbar{
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        z-index: 99;
        bottom: 0;
        height: 50px;
        border-radius: 26px 26px 0 0;
        background-color: #2B2A37;
        padding: 0 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBtn{
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .navBtn .homeBtn{
        width: 28;
        height: 28;
        fill: none; 
    }

    .navBtn .homeBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navBtn .searchBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navBtn .searchBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navbar .chatBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .chatBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    .navbar .profileBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .profileBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .navbar .homeBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .chatBtn:hover path:first-of-type{
        fill: #FEF9FF;
    }

    .navbar .searchBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .profileBtn:hover{
        fill: #FEF9FF;
    }
}

