@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');

*{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 425px){
    body{
        margin: 0px;
        font-family: 'Libre Franklin'; font-size: 14px;
        overflow-x: hidden; 
    }

    p{
    margin-top: 0.8vw;
     }
    
    .top{
        display: flex;
        align-items: center;
        margin: auto;
        background-color: #FEF9FF;
        padding: 15px;
        font-family: 'Inter';
        font-weight: bold;
        font-size: 28px;
        height: 25px;
    }
    .top p{
        flex-grow: 1;
        text-align: center;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateX(0);
    }
    .top img{
        object-fit: contain;
        margin-right: 10px;
    }
    
    
    .profile{
        background-color: orange;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .editbtn {
        z-index: 2;
        position: absolute;
        /* display: none; */
        top: 70px;
        right: 20px;
        width: 22px;
        opacity: 100%;
    }
    #camerabtn{
        display: none;
        z-index: 1;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 30px;
    }
    #camerabtn2{
        position: absolute;
        top: 310px; 
        left: 250px; 
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 3px solid orange;
        object-fit: contain;
        padding: 5px;
        background-color: #FFFFFF;
        display: none;
    }
     /* edit */
     .editprof{
         margin-left: 1vw;
         display:none;
    }



    #checkmark{
        position: absolute;
        display: none;
        right: 8px;
    }
    

    .banner{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 25% 25%;  /* x-axis and y-axis */
        position: relative;
    }
    .photo{
        position: absolute;
        top: 250px; 
        left: 210px; 
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 3px solid orange;
        width: 140px;
        height: 140px;
        object-fit: cover;
        object-position: 45%;
    }
    
    
    .profile-content{
        padding: 40px 40px;
        text-align: center;
        display: block;
        margin-top: 3vw;
        font-weight: 600;
    }
    .name{
        font-weight: bold;
        font-size: 30px;
        padding: 5px;
        margin-top: 20px;
    }
    .desc{
        /* margin-top: 30px; */
        font-weight: medium;
        font-size: 15px;
        margin-bottom: 3vw;
    }

    .container2{
        margin-left: 20vw;
        position: absolute;
        margin-top: -7vw;
    }
    .condition{
        display: inline-flex;
        background-color: white;
        box-shadow: 0px 3px 3px gray;
        border-radius: 40px;
        padding: 12px 30px;
        margin-left: -2vw;
    }
    .condition p{
        margin: auto;
        font-weight: bold;
    }
    .symbol-chat{
        display: inline-flex;
        background-color: white;
        box-shadow: 0px 3px 3px gray;
        border-radius: 50%;
        padding: 10px;
        margin-left: 2vw;
    }
    
    
    .container3{
        margin: 50px 20px;
        margin-bottom: 20px;
    }
    .container3 p{
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .container3 img{
        border: 1px solid black;
        border-radius: 10px;
        width: calc(100%);
    }
    
    
    /* menu */
    .menu-title{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: bolder;
    }
    .menu-title img{
        object-fit: contain;
    }

    .menu-container{
        margin: 20px 15px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .menu-content{
        background-color: #FFFFFF;
        box-shadow: 0px 3px 3px gray;
        border-radius: 20px;
        margin: 5px;
    }
    .menu-img{
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(100%);
        height: calc(65%);
    }
    
    .menu-price{
        background-color: #FEF9FF;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 20px;
        position: relative;
        top: calc(-17%);
        right: calc(-3%);
        font-size: 10px;
        font-weight: 900;
        box-shadow: 0px 3px 3px grey;
    }
    .menu-desc{
        max-width: 100%;
        margin: 5px 10px;
        position: relative;
        top: calc(-11%);
        font-size: 2.8vw;
    }
    .menu-desc-name{
        font-size: 14px;
        font-weight: 900;
    }

    .navbar{
        position: sticky;
        z-index: 99;
        bottom: 0;
        height: 50px;
        border-radius: 26px 26px 0 0;
        background-color: #2B2A37;
        padding: 0 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBtn{
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .navBtn .homeBtn{
        width: 28;
        height: 28;
        fill: none; 
    }

    .navBtn .homeBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navBtn .searchBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navBtn .searchBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navbar .chatBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .chatBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    .navbar .profileBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .profileBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .navbar .homeBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .chatBtn:hover path:first-of-type{
        fill: #FEF9FF;
    }

    .navbar .searchBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .profileBtn:hover{
        fill: #FEF9FF;
    }
}
