@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');


@media screen and (max-width: 425px){
    body{
        margin: 0px;
        font-family: 'Libre Franklin'; font-size: 14px;
        overflow-x: hidden; 
        background-color: #FFA401;
    }

    p{margin: 0;}
    
    .top{
        background-color: #FEF9FF;
        text-align: center;
        padding: 15px;
        font-family: 'Inter';
        font-weight: bold;
        font-size: 28px;
    }

    .container-foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 10px;
    }
    .container-foto-title{
        font-size: 20px;
        font-weight: 900;
        margin: 20px;
    }
    .container-foto-change{
        background-color: #FEF9FF;
        width: 130px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        border: 1px solid #272634;
    }

    /* Form */
    form{
        margin: 30px;
    }
    label{
        font-weight: 700;
    }
    input[type=text]{
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #272634;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }
    input[type=submit]{
        background-color: #272634;
        color:#FEF9FF;
        border: none;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
    }

    .navbar{
        position: sticky;
        z-index: 99;
        bottom: 0;
        height: 50px;
        border-radius: 26px 26px 0 0;
        background-color: #2B2A37;
        padding: 0 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navBtn{
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }

    .navBtn .homeBtn{
        width: 28;
        height: 28;
        fill: none; 
    }

    .navBtn .homeBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navBtn .searchBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navBtn .searchBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linejoin: round;
    }

    .navbar .chatBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .chatBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    .navbar .profileBtn{
        width: 32; 
        height: 32;
        fill: none;
    }

    .navbar .profileBtn path{
        stroke: #FEF9FF;
        stroke-width: 3.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .navbar .homeBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .chatBtn:hover path:first-of-type{
        fill: #FEF9FF;
    }

    .navbar .searchBtn:hover{
        fill: #FEF9FF;
    }

    .navbar .profileBtn:hover{
        fill: #FEF9FF;
    }
}